
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body{
  background-color: #171414;
  height: 100vh;
  width: 100vw;
  font-family: 'Open Sans', sans-serif;

  @media screen and (min-width: 768px) {
    height: 100%;
  }
  #app {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 768px) {
      background: #171414;
    }
  }
}